*.elc
.cask
*~
*#
*.~undo-tree
.#README.org
#README.org#
tramp
recentf
custom.el
history
bookmarks
.org-id-locations
*.html
*.tex
url/
tldr/
manual-packages/
packages/
transient/
auto-save-list/
elpa/
eshell/
.DS_Store