# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
.#README.org
#README.org#

recentf
custom.el
history
manual-packages/
packages/
transient/
auto-save-list/
elpa/